<div class="left-col">
  <%= form_for @receipt do |f| %>
    <%= f.text_field :name, :class =>"w100", :placeholder => "Where was your purchase?" %>
    <br/>
    <%= f.text_field :purchase_date, :class =>"w66", :placeholder =>"mm/dd/yyyy" %>
    <%= f.text_field :amount, :class =>"w34", :placeholder =>"$0.00" %>
    <br/>
    <%= category_select(Category.all) %>
    <%#= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => true}%>
    <br/>
    <%= f.text_field :notes, :class =>"w100", :placeholder =>"write notes here..." %>
    <%= submit_tag %>
  <% end %>

</div>
<div class="table">
  <h1>Turtle Stack</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Item</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Payment Type</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @receipts.each do |receipt| %>
        <tr class="<%= cycle(:odd, :even) %>">
          <td><%= receipt.purchase_date.strftime "%m/%d/%Y" rescue nil %></td>
          <td><%= receipt.name || 'N/A' %></td>
          <td><%= receipt.category %></td>
          <td class="money"><%= "$%0.2f" % receipt.amount rescue nil %></td>
          <td class="center">sample account</td>
          <td class="notes">
            <%= receipt.notes %>
            <div class="nubbin">
              <%= link_to image_tag("cross.png"), receipt_path(receipt), :method => :delete, :confirm => "are you sure?" %>
              <%= link_to image_tag("pencil.png"), edit_receipt_path(receipt) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
</div>
